<!-- your-help-modal.component.html -->
<div class="help-content">
  <div class="help-title">
    <h2>Captura y reconoce con realidad aumentada la señal de transito</h2>
  </div>
  <div class="help-gif-container">
    <img src="assets/Click-GIF-edit.gif" alt="GIF de información" class="help-gif">
  </div>
  
  <div class="help-paragraph">
    <p>Acepta los permisos de camara</p>
    <p>Acercate y enfoca a una señal de transito </p>
    <p>Obtenga su modelo de realidad aumentada y su descripcion </p>
  </div>
  <div class="help-buttons">
    <button (click)="dismiss()">Cerrar</button>
  </div>
</div>
