<ion-content [fullscreen]="true">
  <div id="barra">
    <ion-icon [routerLink]="['/page1']" name="arrow-back-outline" class="header-icon"></ion-icon>
    <ion-icon name="help-circle-outline" class="header-icon2"></ion-icon>
  </div>

  <div class="content-container">
    <!-- Señales Preventivas -->
    <div class="signal-section">
      <strong>Señales Preventivas</strong>
      <div class="signal-grid">
        <img src="assets\prev.png" alt="Señal 1">
        <img src="assets\prev2.png" alt="Señal 2">
        <!-- Agrega más imágenes según sea necesario -->
      </div>
    </div>

    <!-- Señales Informativas -->
    <div class="signal-section">
      <strong>Señales Informativas</strong>
      <div class="signal-grid">
        <img src="assets\info.png"alt="Señal 3">
        <img src="assets\info2.png" alt="Señal 4">
        <!-- Agrega más imágenes según sea necesario -->
      </div>
    </div>
  </div>
</ion-content>
