<!-- your-help-modal.component.html -->
<div class="help-content">
  <div class="help-title">
    <h2>Reconoce con realidad aumentada y obtén información de las señaleticas de transito</h2>
  </div>
  <div class="help-gif-container">
    <img src="assets/Click-GIF-edit.gif" alt="GIF de información" class="help-gif">
  </div>
  
  <div class="help-paragraph">
    <p >Presiona en las opciones para : <br><br>Capturar y reconocer señales con realidad aumentada, Conocer los tipos de señaleticas y Descargar el manual de transito</p>
  </div>
  <div class="help-buttons">
    <button (click)="dismiss()">Cerrar</button>
  </div>
</div>
