<ion-content [fullscreen]="true">
  <div id="barra">
  <ion-icon [routerLink]="['/home']" name="arrow-back-outline" class="header-icon"  ></ion-icon>
  <ion-icon name="help-circle-outline" class="header-icon2" ></ion-icon>
  </div>
  <div id="container">

    <!-- Botones centrados con icono de cámara -->
    <div class="button-container">
      <ion-icon name="camera-outline" class="button-icon"></ion-icon>
      <ion-button [routerLink]="['/page2']" class="custom-button">
        Capturar
      </ion-button>
    </div>

    <div class="button-container">
      <ion-icon name="grid-outline" class="button-icon"></ion-icon>
      <ion-button [routerLink]="['/page3']" class="custom-button">
        Tipos de Señales
      </ion-button>
    </div>

    <div class="button-container">
      <ion-icon name="library-outline" class="button-icon"></ion-icon>
      <ion-button [routerLink]="['/page4']" class="custom-button">
        Ley de Tránsito
      </ion-button>
    </div>

  </div>
</ion-content>
