<ion-content [fullscreen]="true">

  <div id="container">
    <img src="assets\logo.png" alt="Imagen" style="width: 100%; max-width: 400px; height: auto;">
    
    <ion-card>
      <ion-card-content>
        <ion-icon name="information-circle-outline"></ion-icon>
        <strong> INFORMACION </strong>
        <p >Apunte con la camara de su dispositivo a una señal de transito y espere a que lo reconozca</p>
       
      </ion-card-content>
    </ion-card>
    <ion-button [routerLink]="['/page1']">Iniciar</ion-button>

  </div>

</ion-content>
